:root {
    --font-family-parrafo: 'Lexend Deca', sans-serif;

    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);


}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Very-dark-blue);
    color: white;
}

.main {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    min-height: 500px;
    height: 100vh;
    display: grid;
    align-content: center;
    margin-top: 5rem;
}

.card__img {
    min-height: 200px;
    background-image: linear-gradient(hsla(277, 55%, 54%, 0.671) 100%, blue), url(//practica-flex30/images/image-header-mobile.jpg);
    background-position: center;
    background-size: cover;
    border-radius: .5rem .5rem 0px 0px;
}

.card__text {
    text-align: center;
    background-color: var(--Dark-desaturated-blue);
    padding: 3rem 1.5rem;
    border-radius: 0 0 .5rem .5rem;
}

.get__title {
    font-size: 1.8rem;
    font-weight: 700;
}

.get__title span {
    color: var(--Soft-violet);
}

.get__parrafo {
    font-family: var(--font-family-parrafo);
    color: var(--Slightly-transparent-white);
    margin-top: 1.2rem;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.card__numbers__contenedor {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__number__title {
    font-size: 1.3rem;
}

.card__number__parrafo {
    color: var(--Slightly-transparent-white);
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: .3rem;
}

@media(min-width:768px) {

    .main {
        width: 90%;
        margin: 0 auto;
        max-width: 800px;
        min-height: 500px;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        align-content: center;

    }

    .card__img {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        min-height: 200px;
        height: 475px;
        background-image: linear-gradient(hsla(277, 55%, 54%, 0.671) 100%, blue), url(/practica-flex30/images/image-header-desktop.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 0 .5rem .5rem 0rem;
    }


    .card__text {
     text-align: left;  
        border-radius: .5rem 0 0 .5rem;
        height: 348px;
        padding: 4rem 2rem;
    }
    .get__title {
        font-size: 1.8rem;
        font-weight: 700;
    }
    .get__parrafo {
        font-family: var(--font-family-parrafo);
        color: var(--Slightly-transparent-white);
        margin-top: 2rem;
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .card__numbers__contenedor {
        flex-direction: row;
        margin-top: 5rem;
        justify-content: center;
      
    }
    
    
}